<a href="https://colab.research.google.com/github/nikhilbordekar/SQL-Practice/blob/main/SQL_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nikhil Bordekar's Notes**

##`SELECT` & `WHERE`

In SQL, the SELECT and WHERE clauses are fundamental components used for filtering and selecting data from a database
```sql
SELECT first_name, last_name
FROM employees
WHERE department = 'HR' AND salary > 50000;
```
In this example, the SELECT clause specifies the columns (first_name and last_name) to be included in the result set. The WHERE clause filters the rows, ensuring that only employees in the 'HR' department with a salary greater than 50,000 are selected.

These clauses are essential for retrieving specific data from a database, enabling you to tailor your query results to your precise requirements.

## `AGGREGATE FUNCTIONS`

Here are examples of how to use `COUNT`, `SUM`, `MAX`, `GROUP BY`, and `HAVING` to aggregate data using SQL code:

Let's say we have a table named `orders` with the following columns: `order_id`, `customer_id`, `order_date`, and `total_amount`.

1. **COUNT**: To count the number of orders for each customer:

```sql
SELECT customer_id, COUNT(order_id) AS order_count
FROM orders
GROUP BY customer_id;
```

2. **SUM**: To calculate the total amount spent by each customer:

```sql
SELECT customer_id, SUM(total_amount) AS total_spent
FROM orders
GROUP BY customer_id;
```

3. **MAX**: To find the highest order amount for each customer:

```sql
SELECT customer_id, MAX(total_amount) AS max_order_amount
FROM orders
GROUP BY customer_id;
```

4. **GROUP BY**: To group the results by a specific column (e.g., `order_date`) and then aggregate:

```sql
SELECT order_date, COUNT(order_id) AS order_count, SUM(total_amount) AS total_spent
FROM orders
GROUP BY order_date;
```

5. **HAVING**: To filter the results of a grouped query based on an aggregate condition (e.g., customers who have spent more than $1,000):

```sql
SELECT customer_id, SUM(total_amount) AS total_spent
FROM orders
GROUP BY customer_id
HAVING SUM(total_amount) > 1000;
```

In this example, the `HAVING` clause filters the results to include only those customers whose total spending (`SUM(total_amount)`) is greater than $1,000.

These SQL queries demonstrate how to use aggregate functions (`COUNT`, `SUM`, `MAX`) along with `GROUP BY` and `HAVING` to analyze and summarize data in a database.